@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ================= CUSTOM INPUT STYLE ================= */

.input {
  @apply w-full bg-white/20 border border-white/20 rounded-xl px-4 py-3 text-white 
         placeholder-white/60 outline-none focus:ring-2 focus:ring-indigo-400;
}
